body, html {
    height: 100%;
}

body {
    background-color: #7E48FF;
    background: linear-gradient(#005C97, #363795);
    color: #FFF;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    padding: 24px;
    fill: white;
    width: 32px;
    height: 32px;
}